[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dm-control = "*"
gym = "*"
scikit-image = "*"
scipy = "*"
matplotlib = "*"
tensorflow = "*"
"ruamel.yaml" = "*"
tensorflow-probability = "*"

[dev-packages]

[requires]
python_version = "3.8"
